# Øving 1

### 2.1
a) Supervised
b) Supervised
c) Supervised
d) Unsupervised
e) Supervised
f) Unsupervised
g) Unsupervised
h) Supervised

###

### 2.2
The validation partion is used to assess the predictive performance of models and used to pick one. The test partition is used to describe the performance the chosen model with a new dataset. Without using another model for the test partition the perfomance will be overly optimisitic.

### 2.3
The table seems to be sampled randomly and is therefore useful, but might lead to a high margin of error as the number of rows are low.

### 2.4
Redusert mengde variabler. Basert på første inntrykk virker mengde, historie og durasjon som viktige variabler. Fjernet andre variabler. Eksplorert dataen visuelt og se om det finnes outliers. Videre hadde brukt en supervised linear regresjonsmodell.

### 2.5

The model might be overfitted. This happens when the model uses too many variables and the dataset is too small. The model might describe the sample too well, but not describe other samples past the primary one. The model therefore loses its predictive features.

### 2.6
The "Refund issued" variable is can only be set to "1" if the prospect is a purchaser. No nonpurchaser will have that variable as anything but "0". The variable is exclusive to only purchasers.

### 2.7
I would assume that 923 records would be removed due to missing data with only 7.7% of the records being whole. 0.95^50

### 2.8

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
housing = {"age" : [25, 56, 65, 32, 41, 49],
           "income": [49_000, 156_000, 99_000, 192_000, 39_000, 57_000] }

housing_df = pd.DataFrame(data=housing)
print(housing_df)

norm_housing_df = (housing_df - housing_df.mean()) / housing_df.std()

print(norm_housing_df)

   age  income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000
        age    income
0 -1.313253 -0.790027
1  0.756790  0.911977
2  1.357770  0.005302
3 -0.845824  1.484614
4 -0.244844 -0.949093
5  0.289361 -0.662774

### 2.9

The Euclidean distance can be altered when normailizing due to each datapoint going through the same arithmetic process (using the same mean and std).

### 2.10

Model B performance better with the validation partition and will be therefore be used for deployment. Model A might be only be good at predicting for the training partition but for other datasets.

### 2.11
a)

In [7]:
toyota = pd.read_csv("ToyotaCorolla.csv")
toyota.head()
#I would make dummy variables for each category and drop the first variable.
toyota = pd.get_dummies(toyota, columns = ["Fuel_Type", "Color"],drop_first = True, prefix_sep = "*")
toyota.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,...,Fuel_Type*Petrol,Color*Black,Color*Blue,Color*Green,Color*Grey,Color*Red,Color*Silver,Color*Violet,Color*White,Color*Yellow
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,90,1,0,...,0,0,1,0,0,0,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,90,1,0,...,0,0,0,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,90,1,0,...,0,0,1,0,0,0,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,90,0,0,...,0,1,0,0,0,0,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,90,0,0,...,0,1,0,0,0,0,0,0,0,0

b)Training partition er oftest den største delen og blir brukt for å trene modelen, validering partitionen blir brukt
til å velge hvilken model og test partition blir brukt til å vurderer modellen sin ytelse"

In [12]:
toyota_training, toyota_valid = train_test_split(toyota, test_size=0.5, random_state=1)
toyota_valid, toyota_test = train_test_split(toyota_valid, test_size=0.4, random_state=1)
print(toyota_training.shape, toyota_valid.shape, toyota_test.shape)

(718, 48) (430, 48) (288, 48)